<mat-toolbar>
  <ng-container>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" class="example-sidenav" [opened]="isShowSidenav" [formGroup]="options">
        <ul>
          <li><button (click)="onBtnClickToNewCar()">Új gépjármű felvétele</button></li>
          <li><button [routerLink]="['car-rent']">Személygépkocsi kölcsönzése</button></li>
          <li><button [routerLink]="['motor-rent']">Motor kölcsönzése</button></li>
          <li><button [routerLink]="['trail-rent']">Utánfutó kölcsönzése</button></li>
          <li><button [routerLink]="['microbus-rent']">Mikrobusz kölcsönzése</button></li>
          <li><button [routerLink]="['lorry-rent']">Kisteherautók kölcsönzése</button></li>
        </ul>
      </mat-sidenav>
    </mat-sidenav-container>
  </ng-container>
</mat-toolbar>
