table {
    margin-top: 25px;
    padding: 200px;
    font-family: cursive;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: black;
}

.mdc-data-table__header-row {
    background-color: rgb(91, 32, 35);
    color: white;

}

